name: swift-language sundays

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
  - cron: "23 2 * * 0"
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: sccache swift-language
      uses: actions/cache@v2
      with:
        path: |
          /home/runner/work/swift-aur/swift-aur/swift-language/src/sccache
          /var/cache/pacman/pkg/
        key: swift-language-sccache

    - name: Build swift-language
      uses: soloturn/build-aur-action@0.0.2
      with:
        # AUR repository name to build
        repo-name: swift-language

    - name: Upload arch pkg
      uses: actions/upload-artifact@v2
      with:
        name: zipped-arch-package
        path: /home/runner/work/swift-aur/swift-aur/swift-language/*.zst

# vim:set ts=2 sw=2 et:

